In [5]:
import numpy as np
import pandas as pd

In [9]:
# Cerating more variables
outside = ['G1', 'G1',  'G1',  'G2',  'G2',  'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
df=pd.DataFrame(np.random.randn(6,2), hier_index,['A', 'B'])
# All this does is create a dataframe with multiple indexes

In [10]:
df

             A         B
G1 1 -0.197621 -1.900129
   2  0.280431 -0.255182
   3  0.708033  0.272496
G2 1 -1.726175 -0.545578
   2  0.454363 -0.872836
   3  0.281651  0.273311

In [13]:
df.loc['G1']

          A         B
1 -0.197621 -1.900129
2  0.280431 -0.255182
3  0.708033  0.272496

In [15]:
df.index.names = ['Groups', 'Num']

In [16]:
df

                   A         B
Groups Num
G1     1   -0.197621 -1.900129
       2    0.280431 -0.255182
       3    0.708033  0.272496
G2     1   -1.726175 -0.545578
       2    0.454363 -0.872836
       3    0.281651  0.273311

In [19]:
df.loc['G2'].loc[2]['B']

-0.8728358241562737

In [22]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.197621 -1.900129
G2     -1.726175 -0.545578