In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Company': ['GOOG','GOOG','MSFT','MSFT','FB','FB'],
    'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
    'Sales':[200,120,340,124,243,350]
}

data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [3]:
df = pd.DataFrame(data)

In [5]:
"""
    Group By will take in multiple columns that have the same data and spit them out with the 
    same column name but will have a different value
"""
byCompany = df.groupby('Company')
byCompany.mean()
# Instead of mean you can do alot more

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [6]:
# You can accsess a lot of info using describe
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0